html, body {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body {
    flex-direction: column;
}

body, .header, .top, .intro, .text, .head, .info, .sign-up, 
.quote, .penultimate {
    display: flex;
}

.intro {
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 32px;
}

.info {
    box-sizing: border-box;
    max-width: 400px;
    flex-direction: column;
    flex: 1;
    margin: 8px 64px 8px 0;
}

.head {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.info .text {
    font-size: 18px;
    color: #e5e7eb;
}

.img {
    padding: 64px;
    align-content: center;
    align-items: center;
    background-color: gray;
    margin: 32px;
}

.sign-up {
    border-radius: 8px;
    padding: 4px 16px;
    width: fit-content;
    background-color: #3882F6;
    border: 0;
    color: white;
    margin: 8px;
}

.header {
    flex-direction: column;
    background-color: #1F2937;
    color: white;
    width: 100%;
    padding-bottom: 64px;
}

.top {
    justify-content: space-around;
    padding: 4px 8px;
}

.second .top {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
    padding: 32px;
    margin: 16px auto 4px auto;
    font-size: 36px;
    font-weight: 900;
}

.second {
    display: flex;
    background-color: white;
    flex-direction: column;
}

.box-row {
    display: flex;
    margin: 8px 128px;
    justify-content: center;
    padding: 8px 64px;
}

.box {
    width: 150px;
    height: 150px;
    border: #3882F6 4px;
    border-radius: 12px;
    border-style: solid;
}
.box-text {
    display: flex;
    max-width: 150px;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
}

.box-text .text {
    text-align: center;
}

.right-links {
    display: flex;
    flex-direction: row;
}

.link {
    padding: 8px;
}

.quote {
    flex-direction: column;
    padding: 100px 350px;
    background-color: #E5E7EB;
}

.quote .text {
    text-align: start;
    font-size: 36px;
    line-height: 1.6;
    letter-spacing: 2;
    color: #1F2937;
    font-weight: 300;
}

.author {
    text-align: end;
    font-size: 20px;
    font-weight: 900;
}

.penultimate {
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #3882F6;
    margin: 100px 200px;
    padding: 35px 100px;
    justify-content: space-evenly;
}

.penultimate .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.text .header {
    font-size: 20px;
    color: white;
    font-weight: 700;
    text-align: start;
    background-color: #3882F6;
    margin-bottom: 0;
    padding-bottom: 8px;
    padding-top: 0px;
    margin-top: 10px;
}

.text .info {
    padding-top: 8px;
    margin-top: 0;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

.penultimate .sign-up {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-self: center;
    padding: 4px 24px;
    margin: 16px;
    border: 2px;
    height: 30px;
    border-color: white;
    border-style: solid;
}

.footer {
    text-align: center;
    background-color: #1F2937;
    font-size: 16px;
    color: white;
    padding: 32px;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
